<!-- BEGIN content -->
<div id="content">
    <!-- begin more articles -->
    <div class="articles">
        <!-- begin post -->
        <div class="single">
            <h2>About</h2>
            <p>Justopellenteget masse aucibulus pretium semper anterdum sus elit risus sempor pretra. Etet molesuada
                orci lobortortis pellentum consequat neque ulla nunc eu natis. Tinciduntlobortis tempus wisi nulla
                laoreet fauctortortis nam nulla volutpat maurisus tor. Velitcurabitae ut elit tur rhoncus sus sagittitor
                enim integer fring in. Velitdolor duis felit augue justo donec in fames loreet convallis elit.</p>
            <p>Idvestibulum eget eget id id aliquam quisque ipsum gravida adipiscipis justo. Habitursed urnar sus pellus
                nam condimentum eu aucibulum phare tincidunt id. Utpellus quat nullam adipit maecenatis aucibulum
                tellentes tellus conseque eger eget. Justocongue ero nec dignisl trices non ligula laorem a magnissim
                ris. Sedalique nulla pede nequam wisis ac tincidunt feugiat vestiquam condimentum at.</p>
            <p>Proinlaorem turis integet pellus ametus nisl consequat antesque metus condiment tincidunt. Magnapellus a
                vel cursus vitae semper conseque diam ac integet nibh. Intesquetellus id vel tur lorem sed tempus
                phasellenterdum ris tincidunt ridiculisi. Gravidapellent quam consectetus intesque ac eu anterdum aenec
                congue elit pellus. Tempercurabitae tellus nunc vitae sed auctorta laculum temportortis risus quis
                curabitur.</p>
            <p>Phaselluscongue eget turpiscipis ut sed id temper loborta vitae loborttis cursus. Nibhfaucibulum urnar
                proin orci vitae commod dignisl pretra id laoreet id. Pretiumfaucibus quis vitae congue curabitur
                sagittis tortor felit estasse eu natoque. Intepellus curabiturpiscing eu nulla eros mauris ut dui in
                malesuada et. Conguetortor dui metuer lacus sus ac et a nec sed eget.</p>
            <p>Orcinunc pellentum aliquam nam in consectus congue proin id et phasellus. Velitac convallisi turis
                pellenterdum conseque curabitur adipiscing ut quis masse pellentumsan. Fametuscondimentum fring
                semportis antesquet vitae non felit dui nulla libero volutpat. Ullamcorpermonterdum estas neque leo et
                ipsum famet elis lobortor sem id. Ameta vestibulum nulla condimentum quisque vitant ristibulum justo nam
                id et.</p>
        </div>
        <!-- end post -->
        <div class="break"></div>
    </div>
    <!-- end more articles -->
</div>
<!-- END content -->
<!-- BEGIN sidebar -->
<div id="sidebar">
    <!-- begin sponsors -->
    <!-- <div class="box">
        <h2>Sponsors</h2>
        <div class="sponsors">
            <a href="#"><img src="assets/images/ad125x125.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/ad125x125.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/ad125x125.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/ad125x125.jpg" alt="" /></a>
        </div>
    </div> -->
    <!-- end sponsors -->
    <!-- begin popular posts -->
    <!-- <div class="box">
        <h2>Popular Posts</h2>
        <ul>
            <li><a href="#">Pellentesque Aapien Orci Blandit</a></li>
            <li><a href="#">Nam Et Nisi Ut Nunc Sequitor</a></li>
            <li><a href="#">Quisque Egestas Posuere Tellus</a></li>
            <li><a href="#">Quisque Sit Amet Diam</a></li>
            <li><a href="#">Interdum Arcu Sit Amet Erat</a></li>
            <li><a href="#">Aenean Lectus Massa Sequitor</a></li>
        </ul>
    </div> -->
    <!-- end popular posts -->
    <!-- begin featured video -->
    <!-- <div class="box">
        <h2>Featured Video</h2>
        <div class="video"> <img src="assets/images/_video.jpg" alt="" /> </div>
    </div> -->
    <!-- end featured video -->
    <!-- begin flickr photos -->
    <div class="box">
        <h2>Team</h2>
        <div class="flickr">
            <a href="#"><img src="assets/images/avatar_1.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/avatar_2.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/avatar_3.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/avatar_4.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/avatar_5.jpg" alt="" /></a>
            <a href="#"><img src="assets/images/avatar_6.png" alt="" /></a>
        </div>
    </div>
    <!-- end flickr photos -->
    <!-- BEGIN left -->
    <!-- <div class="l sidebar"> -->
        <!-- begin categories -->
        <!-- <div class="box">
            <h2>Supporting Docs</h2>
            <ul>
                <li><a href="#">File 1</a></li>
                <li><a href="#">File 2</a></li>
                <li><a href="#">File 3</a></li>
                <li><a href="#">File 4</a></li>
                <li><a href="#">File 5</a></li>
            </ul>
        </div> -->
        <!-- end categories -->
    <!-- </div> -->
    <!-- END left -->
</div>
<!-- END sidebar -->