<div class="container-fluid">
    <div class="inner-container d-flex justify-content-between">
        <div class="left-side">
            <!-- <h6>Advertise</h6> -->
            <!-- <img src="assets/images/ad125x125.jpg" /> -->
            <!-- <img src="assets/images/advert_1.jfif" /> -->
            <img src="assets/images/advert-banner.jpg" />
        </div>
        <div id="wrapper">
            <app-header></app-header>
            <!-- <main [@routeAnimations]="prepareRoute(outlet)"> -->
            <router-outlet #outlet="outlet"></router-outlet>
            <!-- </main> -->
            <app-footer></app-footer>
        </div>
        <div class="right-side">
            <!-- <h6>Advertise</h6> -->
            <!-- <img src="assets/images/ad125x125.jpg" /> -->
            <img src="assets/images/advert-banner.jpg" />
        </div>
    </div>
</div>