<!-- BEGIN wrapper -->
<!-- BEGIN content -->
<div id="content">
    <!-- begin more articles -->
    <div class="articles">
        <h2 class="title">More Articles</h2>
        <!-- begin post -->
        <div class="post">
            <div class="details">
                <p class="l"> <span class="category"><a href="#">Advertising</a></span> - Posted by <a href="#">Chiq
                        Montes</a> on April 20, 2009 </p>
                <p class="r"> <a href="#">21 Comments</a> </p>
            </div>
            <div class="thumb"><a href="#"><img src="assets/images/_thumb1.jpg" alt="" /></a></div>
            <h2><a href="#">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
            <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget
                purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus
            </p>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="details">
                <p class="l"> <span class="category"><a href="#">Advertising</a></span> - Posted by <a href="#">Chiq
                        Montes</a> on April 20, 2009 </p>
                <p class="r"> <a href="#">21 Comments</a> </p>
            </div>
            <div class="thumb"><a href="#"><img src="assets/images/_thumb2.jpg" alt="" /></a></div>
            <h2><a href="#">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
            <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget
                purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus
            </p>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="details">
                <p class="l"> <span class="category"><a href="#">Advertising</a></span> - Posted by <a href="#">Chiq
                        Montes</a> on April 20, 2009 </p>
                <p class="r"> <a href="#">21 Comments</a> </p>
            </div>
            <div class="thumb"><a href="#"><img src="assets/images/_thumb3.jpg" alt="" /></a></div>
            <h2><a href="#">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
            <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget
                purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus
            </p>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="details">
                <p class="l"> <span class="category"><a href="#">Advertising</a></span> - Posted by <a href="#">Chiq
                        Montes</a> on April 20, 2009 </p>
                <p class="r"> <a href="#">21 Comments</a> </p>
            </div>
            <div class="thumb"><a href="#"><img src="assets/images/_thumb4.jpg" alt="" /></a></div>
            <h2><a href="#">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
            <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget
                purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus
            </p>
        </div>
        <!-- end post -->
        <!-- begin post -->
        <div class="post">
            <div class="details">
                <p class="l"> <span class="category"><a href="#">Advertising</a></span> - Posted by <a href="#">Chiq
                        Montes</a> on April 20, 2009 </p>
                <p class="r"> <a href="#">21 Comments</a> </p>
            </div>
            <div class="thumb"><a href="#"><img src="assets/images/_thumb5.jpg" alt="" /></a></div>
            <h2><a href="#">Lorem Ipsum Dolor Sit Amet Libera Sequitor</a></h2>
            <p>Sed auctor, purus et elementum gravida, felis augue faucibus velit, nec aliquet leo tellus eget
                purus. Sed est metus, placerat at, commodo ut, ultrices cursus, mauris. Cum sociis natoque penatibus
            </p>
        </div>
        <!-- end post -->
        <div class="break"></div>
    </div>
    <!-- end more articles -->
    <!-- begin post navigation -->
    <div class="postnav">
        <ul>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
    <!-- end post navigation -->
</div>
<!-- END content -->
<!-- BEGIN sidebar -->

<!-- END sidebar -->
<!-- END wrapper -->